
@{
    ViewData["Title"] = "PageBadRequest";
    ViewData["ActivePage"] = "Home";
}

<!-- 400 Start -->
<div class="container-fluid pt-4 px-4">
	<div class="row vh-100 bg-danger rounded align-items-center justify-content-center mx-0">
		<div class="col-md-6 text-center p-4">
			<i class="bi bi-exclamation-triangle display-1 text-primary"></i>
			<h1 class="display-1 fw-bold">400</h1>
			<h1 class="mb-4">BAD REQUEST</h1>
			<p class="mb-4">
				We’re sorry, the request you have requested for the server might be invalid!
				Maybe go to our home page and try again?
			</p>
			<a class="btn btn-primary rounded-pill py-3 px-5" asp-controller="Home" asp-action="Index">Go Back To Home</a>
		</div>
	</div>
</div>
<!-- 400 End -->
